/*====================== Montserrat ===============*/

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.woff2") format("woff2");
}

/*====================== DMMono =====================*/

@font-face {
  font-family: "DMMono-Regular";
  src: url("../assets/fonts/DMMono/DMMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMMono-Medium";
  src: url("../assets/fonts/DMMono/DMMono-Medium.ttf") format("truetype");
}

/*====================== Gilroy =====================*/

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../assets/fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../assets/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "DMSans";
  src: url("../assets/fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}

/*====================== Roboto =====================*/

@font-face {
  font-family: "Roboto-Mono";
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

/*====================== Europa =====================*/

@font-face {
  font-family: "Europa-Regular";
  src: url("../assets/fonts/EuropaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Europa-Bold";
  src: url("../assets/fonts/EuropaBold.ttf") format("truetype");
}
/*====================== URWForm =====================*/

@font-face {
  font-family: "URWForm-Regular";
  src: url("../assets/fonts/URWForm-Regular.ttf") format("truetype");
}
/*====================== Graphik =====================*/

@font-face {
  font-family: "Graphik-Bold-Web";
  src: url("../assets/fonts/Graphik-Bold-Web.woff2") format("woff2");
}
@font-face {
  font-family: "Graphik-Regular-Web";
  src: url("../assets/fonts/Graphik-Regular-Web.woff2") format("woff2");
}
@font-face {
  font-family: "Graphik-Medium";
  src: url("../assets/fonts/Graphik-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Graphik App";
  src: url("../assets/fonts/Graphik-Regular-App.ttf") format("opentype");
}
@font-face {
  font-family: "Graphik-Regular";
  src: url("../assets/fonts/Graphik-400-Regular.otf") format("opentype")
}
@font-face {
  font-family: "Graphik-Bold";
  src: url("../assets/fonts/Graphik-700-Bold.otf") format("opentype")
}
@font-face {
  font-family: "Graphik App Bold";
  src: url("../assets/fonts/Graphik-Bold-App.ttf") format("opentype")
}
@font-face {
  font-family: "Graphik App Medium";
  src: url("../assets/fonts/Graphik-Medium-App.ttf") format("opentype")
}
@font-face {
  font-family: "Graphik Web Medium";
  src: url("../assets/fonts/Graphik-Medium-Web.woff") format("woff")
}
